swagger: "2.0"
info:
    title: Rotabot Service
    description: SlackApp that makes team rotations easy
    version: ""
host: localhost:8080
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /healthcheck:
        get:
            tags:
                - Rotabot
            summary: Healthcheck Rotabot
            operationId: Rotabot#Healthcheck
            produces:
                - application/json
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
