name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/setup-go@v3
      - uses: actions/checkout@v3
      - uses: golangci/golangci-lint-action@v3
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go
      - uses: actions/checkout@v3

      - run: make install
      - run: go mod verify
      - run: go vet ./...

      - run: make build

      - name: Check generated files
        run: |
          make generate
          ./scripts/check-changes.sh

      - run: make test

      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          files: ./cover.out
          name: rotabot